.about {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.6;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about1 {
    width:80%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .about1 h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .about1 p {
    font-size: 18px;
    color: #555;
  }
  
  .about2 {
    width:80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .about-mission,
  .about-vision {
    flex: 1;
    background: #f9f9f9;
    padding: 15px;
    width:45%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-mission h3,
  .about-vision h3 {
    font-size: 24px;
    color: #3498db;
    margin-bottom: 10px;
  }
  
  .about-mission p,
  .about-vision p {
    font-size: 16px;
    color: #444;
  }
  
  .about3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width:80%;
    margin-bottom: 30px;
  }
  
  .about3-services,
  .about3-chooseUs {
    flex: 1;
    background: #fdfdfd;
    padding: 15px;
    width:45%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about3-services h3,
  .about3-chooseUs h3 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .about3-services p,
  .about3-chooseUs p {
    font-size: 16px;
    color: #666;
  }
  .last{
    width:100%;
    height:350px;
    margin-bottom:20px;
  }
  .about4 {
    text-align: center;
    padding: 4%;
    width:90%;
    background: linear-gradient(to bottom, #e0fbff,white);
    color: #fff;
    border-radius: 8px;
  }
  
  .about4 p {
    color:black;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .about4 p:first-child {
    font-size: 20px;
    font-weight: bold;
  }
  