.footer {
    background: linear-gradient(to bottom, white, #a6d6ea);
    padding: 20px;
    text-align: center;
    color: #000;
  }
  
  .desc {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
  }
  
  .insta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  
  .insta img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .insta p {
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }
  