.contact-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .contact-subtitle {
    font-size: 1.2rem;
    color: #28a745;
  }
  
  .submit-btn {
    background-color: #28a745;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  .modal-body {
    font-size: 1.2rem;
    text-align: center;
    color: #5a6268;
  }
  
  .modal-footer .btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
  }
  